arduino_node_red_splitter.txt
[{"id":"77f4460d.bb538","type":"tab","label":"Flow 1"},{"id":"da6dc02a.ad8408","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1d561f0b.3ec081","type":"mongodb","z":0,"hostname":"http://10.80.3.122:3000/project","port":"27017","db":"project","name":"pos"},{"id":"2b0187c6.e0966","type":"twitter-credentials","z":"","screen_name":"@susiloharjo"},{"id":"fde5b364.94e758","type":"arduino-board","z":"","device":"/dev/ttyUSB1"},{"id":"55b6f630.17e86","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"754226d5.fae2a8","type":"ui_group","z":"","name":"LED","tab":"55b6f630.17e86","disp":true,"width":"6"},{"id":"13d20e3a.1d3082","type":"arduino-board","device":""},{"id":"6f2548c8.700a58","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"","bin":"false","out":"char","addchar":false},{"id":"e458a2e.48366e","type":"twitter-credentials","z":"","screen_name":"@susiloharjo"},{"id":"7c6786c.9006af8","type":"mongodb","z":"","hostname":"10.80.3.100","port":"27017","db":"node-red","name":""},{"id":"22af3e28.e25e22","type":"twitter-credentials","z":"","screen_name":"@susiloharjo"},{"id":"655055d9.ea653c","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":""},{"id":"2962bce9.28f80c","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"node-red","tz":""},{"id":"f0d3b00a.78551","type":"nodebot","z":"","name":"Arduino","username":"","password":"","boardType":"firmata","serialportName":"/dev/ttyUSB1","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"619e750a.2a95fc","type":"serial-port","z":"77f4460d.bb538","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"e8f1e376.e3ba2","type":"ui_group","z":"77f4460d.bb538","name":"CarbonMonoxide in Atmosphere","tab":"4bf6b1e.c8d7ed","disp":true,"width":"9"},{"id":"4bf6b1e.c8d7ed","type":"ui_tab","z":"77f4460d.bb538","name":"Home","icon":"dashboard"},{"id":"55acfe11.b4e2d8","type":"serial in","z":"77f4460d.bb538","name":"Arduino Uno","serial":"619e750a.2a95fc","x":168.56668090820312,"y":166.35000610351562,"wires":[["597c8c11.4b686c","7d159e4e.0dcdf"]]},{"id":"597c8c11.4b686c","type":"debug","z":"77f4460d.bb538","name":"","active":true,"console":"false","complete":"payload","x":633.566650390625,"y":163.71665954589844,"wires":[]},{"id":"ccce71a.452099","type":"mongodb out","z":"77f4460d.bb538","mongodb":"7c6786c.9006af8","name":"","collection":"temp","payonly":false,"upsert":false,"multi":false,"operation":"store","x":706.566650390625,"y":210.21664428710938,"wires":[]},{"id":"c83f7e7b.7b3b6","type":"http in","z":"77f4460d.bb538","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":159.56668090820312,"y":310.1833190917969,"wires":[["c02cc4d2.a133c8"]]},{"id":"c02cc4d2.a133c8","type":"mongodb in","z":"77f4460d.bb538","mongodb":"7c6786c.9006af8","name":"","collection":"temp","operation":"find","x":477.5666809082031,"y":315.2666320800781,"wires":[["87d5bb8d.2f6128"]]},{"id":"87d5bb8d.2f6128","type":"http response","z":"77f4460d.bb538","name":"","statusCode":"","headers":{},"x":839.566650390625,"y":312.1666564941406,"wires":[]},{"id":"7d159e4e.0dcdf","type":"function","z":"77f4460d.bb538","name":" CH Splitter","func":"\n    msg1 = {};\n    msg2 = {};\n\n\nvar array = msg.payload.split(','),\n    a = array[0], b = array[1];\n    \n    \n    msg1.payload = a;\n    \n    \n    msg2.payload = b;\n    \n   \n    \n    \n    return [msg1,msg2];\n","outputs":"2","noerr":0,"x":395,"y":221,"wires":[["ccce71a.452099"],["8d51460a.aabc78"]]},{"id":"8d51460a.aabc78","type":"mongodb out","z":"77f4460d.bb538","mongodb":"7c6786c.9006af8","name":"","collection":"temp","payonly":false,"upsert":false,"multi":false,"operation":"store","x":710,"y":265,"wires":[]}]
