mongodb_flow.txt
[{"id":"c4a5083e.fe0fc8","type":"tab","label":"Flow 1"},{"id":"fc08c2c9.bae64","type":"twitter-credentials","z":"","screen_name":"@susiloharjo"},{"id":"caf6f5d9.c36278","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"node-red","name":""},{"id":"bcaae2f5.51e91","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"node-red","tz":""},{"id":"31c52dd8.4dade2","type":"twitter in","z":"c4a5083e.fe0fc8","twitter":"fc08c2c9.bae64","tags":"#lora","user":"false","name":"Twitter lora","topic":"tweets","inputs":0,"x":335,"y":317,"wires":[["6fa999d8.c568d8","4dc49098.e9fbc","87857948.15427"]]},{"id":"6fa999d8.c568d8","type":"debug","z":"c4a5083e.fe0fc8","name":"","active":true,"console":"false","complete":"false","x":612,"y":243,"wires":[]},{"id":"4dc49098.e9fbc","type":"mongodb out","z":"c4a5083e.fe0fc8","mongodb":"caf6f5d9.c36278","name":"twitter_mongo","collection":"test","payonly":false,"upsert":false,"multi":false,"operation":"store","x":670,"y":340,"wires":[]},{"id":"2be54180.908ebe","type":"http in","z":"c4a5083e.fe0fc8","name":"Get_mongo","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":143,"y":458,"wires":[["78a23313.ed31ac"]]},{"id":"78a23313.ed31ac","type":"mongodb in","z":"c4a5083e.fe0fc8","mongodb":"caf6f5d9.c36278","name":"find_mongo","collection":"test","operation":"find","x":372,"y":457,"wires":[["99412704.f6dbe8"]]},{"id":"35596a74.3a9846","type":"http response","z":"c4a5083e.fe0fc8","name":"","statusCode":"","headers":{},"x":810,"y":460,"wires":[]},{"id":"99412704.f6dbe8","type":"change","z":"c4a5083e.fe0fc8","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":634,"y":458,"wires":[["35596a74.3a9846"]]},{"id":"dd3a58ae.eccfe","type":"inject","z":"c4a5083e.fe0fc8","name":"","topic":"","payload":"Hello World from node-red #node-red #test","payloadType":"str","repeat":"","crontab":"","once":false,"x":339.5,"y":720,"wires":[["460a3f26.acb588"]]},{"id":"460a3f26.acb588","type":"twitter out","z":"c4a5083e.fe0fc8","twitter":"fc08c2c9.bae64","name":"Tweet","x":667.5,"y":693,"wires":[]},{"id":"c81cc4d1.cf6ce","type":"catch","z":"c4a5083e.fe0fc8","name":"","scope":["87857948.15427","460a3f26.acb588"],"x":336.5,"y":633,"wires":[["460a3f26.acb588"]]},{"id":"87857948.15427","type":"file","z":"c4a5083e.fe0fc8","name":"","filename":"/home/onix/Documents/test.xls","appendNewline":true,"createDir":true,"overwriteFile":"false","x":979.5,"y":307,"wires":[]}]
